<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASD Web Application</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_Lux.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_Lux.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap_Lux.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="header-thumbnail" border="0">
            <img src="~/images/ASD_header_logo.png" alt="Active Software Development" width=185 height=51 />
        </div>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"></li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="Overview">Overview<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="ReqForQuote">Quote System</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Activities" asp-action="Index">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Staffing" asp-action="Index">Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Roles" asp-action="Index">Titles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <div class="site-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="footer-text">
                                <p> ASD Management Information System </p>
                                <p><center><a href="#">customer.support@pnd.co.uk</a></center></p>
                                <p>&copy; 2019 - Pilgrim Ninja Development</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
