@model SOFT549_ASD_MIS_DemoWebApp.Models.Role

@{
    ViewData["Title"] = "Edit";
}
<br />
<h3>Edit</h3>

<h4>Role</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <fieldset>
                    <label asp-for="RoleName" class="control-label"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </fieldset>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <fieldset>
                    <label asp-for="CostPerHour" class="control-label"></label>
                    <input asp-for="CostPerHour" class="form-control" />
                    <span asp-validation-for="CostPerHour" class="text-danger"></span>
                </fieldset>
            </div>
        </div>
    </div>

    <row>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-info" />
        </div>
    </row>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br />
<br />