@model SOFT549_ASD_MIS_DemoWebApp.Models.Project

@{
    ViewData["Title"] = "Create";
}
<br />
<h3>Create</h3>

<h4>Project</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-lg-2">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <fieldset>
                    <label asp-for="ClientId" class="control-label">Client Name</label>
                    <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-3">
            <fieldset>
                <div class="form-group">
                    <label asp-for="ProjectName" class="control-label">Project Name</label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
            </fieldset>
        </div>

        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="PredictedLaunchDate" class="control-label">Predicted Launch date</label>
                    <input asp-for="PredictedLaunchDate" class="form-control" />
                    <span asp-validation-for="PredictedLaunchDate" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="ActualLaunchDate" class="control-label">Actual Launch Date</label>
                    <input asp-for="ActualLaunchDate" class="form-control" />
                    <span asp-validation-for="ActualLaunchDate" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="PredictedCost" class="control-label">Predicted Cost</label>
                    <input asp-for="PredictedCost" placeholder="in person hours" class="form-control" />
                    <span asp-validation-for="PredictedCost" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="ActualCost" class="control-label">Actual cost</label>
                    <input asp-for="ActualCost" placeholder="in person hours" class="form-control" />
                    <span asp-validation-for="ActualCost" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Price (£)</label>
                    <input asp-for="Price" placeholder="£££" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </fieldset>
        </div>

        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="PredictedCompletionDate" class="control-label">Predicted Completion Date</label>
                    <input asp-for="PredictedCompletionDate" class="form-control" />
                    <span asp-validation-for="PredictedCompletionDate" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="ActualCompletionDate" class="control-label">Actual Completion Date</label>
                    <input asp-for="ActualCompletionDate" class="form-control" />
                    <span asp-validation-for="ActualCompletionDate" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
    </div>

    <row>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </row>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br />
<br />