@model SOFT549_ASD_MIS_DemoWebApp.Models.Activity

@{
    ViewData["Title"] = "Create";
}
<br />
<h3>Create</h3>

<h4>Activity</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-lg-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <fieldset>
                    <label asp-for="ProjectId" class="control-label">Projects</label>
                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectList"></select>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-3">
            <fieldset>
                <div class="form-group">
                    <label asp-for="ActivityName" class="control-label">Activity</label>
                    <input asp-for="ActivityName" class="form-control" />
                    <span asp-validation-for="ActivityName" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="StaffId" class="control-label">Staff Member</label>
                    <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffList"></select>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="PredictedStartDate" class="control-label">Predicted Start Date</label>
                    <input asp-for="PredictedStartDate" class="form-control" />
                    <span asp-validation-for="PredictedStartDate" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="ActualStartDate" class="control-label">Actual Start Date</label>
                    <input asp-for="ActualStartDate" class="form-control" />
                    <span asp-validation-for="ActualStartDate" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="PredictedCost" class="control-label">Predicted Cost</label>
                    <input asp-for="PredictedCost" placeholder="in person hours" class="form-control" />
                    <span asp-validation-for="PredictedCost" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="ActualCost" class="control-label">Actual Cost</label>
                    <input asp-for="ActualCost" placeholder="in person hours" class="form-control" />
                    <span asp-validation-for="ActualCost" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="ActivitySequence" class="control-label">Activity Sequence</label>
                    <input asp-for="ActivitySequence" placeholder="1st, 2nd, 3rd...?" class="form-control" />
                    <span asp-validation-for="ActivitySequence" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="PredictedCompletionDate" class="control-label">Predicted Completion Date</label>
                    <input asp-for="PredictedCompletionDate" class="form-control" />
                    <span asp-validation-for="PredictedCompletionDate" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <div class="form-group">
                    <label asp-for="ActualCompletionDate" class="control-label">Actual completion Date</label>
                    <input asp-for="ActualCompletionDate" class="form-control" />
                    <span asp-validation-for="ActualCompletionDate" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
    </div>

    <row>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>

    </row>

</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br />
<br />