@{
    ViewData["Title"] = "About us";
}
<br />
<h2>@ViewData["Title"]</h2>
<h3><u>Pilgrim Ninja Development - (PND)</u></h3>
<br />
<p>At PND, we come to work every day because we have to. But also because we want to!</p>
<p>
    We know that the majority of companies don't know what software solutions to build, how to build them, or even what it's worth to their companies. At Pilgrim Ninja development, we have
    leading industry knowledge to help you get your custom software solution off the ground running. Our expert leadership team take pride in their ability to understand what you do, what you
    need and how we can support you. We have proven time and again that software can be built to an excellent standard, and our company policy is to stay in touch throughout the duration of
    the build.
</p>
<hr />
<center>
    <h3> - Our Mission - </h3>
</center>
<br />
<p>Our mission is to make software development more transparent, reliable and successful for all of our customers.</p>
<p>You think you have a complex software solution? Don't be afraid to get in contact with us.</p>
<hr />
<br /><br /><br /><br />