@{
    ViewData["Title"] = "Contact";
}
<br />
<h2>@ViewData["Title"]</h2>
<h3><u>Pilgrim Ninja Development - (PND)</u></h3>
<br />
<hr />
<address>
    <strong>
        Pilgrim House<br />
        Derry's Cross<br />
        Plymouth <br />
        Devon <br />
        PL1 2SW <br />
        United Kingdom <br />
        <br />
        <abbr title="Phone">P:</abbr>
        (+44) 01752 777777
    </strong>
</address>
<hr />
<address>
    <strong>Contact:</strong> <a href="mailto:contact@pnd.co.uk">contact@pnd.co.uk</a><br />
    <strong>Support:</strong> <a href="mailto:customer.support@pnd.co.uk">support@pnd.co.uk</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@pnd.co.uk">marketing@pnd.co.uk</a>
</address>