
@{
    ViewData["Title"] = "Project overview";
}
<br />
<h3>ASD Projects Overview</h3>

<form>
<fieldset>
    <legend>Project details</legend>
    <div class="form-group">
        <label for="projectSelect">Project select</label>
        <select class="form-control1" id=" =projectSelect">
            <option>Database project 1</option>
            <option>Database project 2</option>
            <option>Database project 3</option>
        </select>
    </div>
</fieldset>
</form>