@model SOFT549_ASD_MIS_DemoWebApp.Models.Staff

@{
    ViewData["Title"] = "Edit";
}
<br />
<h3>Edit</h3>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-lg-3">
        <form asp-action="Edit"></form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="StaffId" />
        <div class="form-group">
            <fieldset>
                <label asp-for="StaffName" class="control-label"></label>
                <input asp-for="StaffName" class="form-control" />
                <span asp-validation-for="StaffName" class="text-danger"></span>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <fieldset>
                <label asp-for="ContactDetails" class="control-label"></label>
                <input asp-for="ContactDetails" class="form-control" />
                <span asp-validation-for="ContactDetails" class="text-danger"></span>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-3">
        <fieldset>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <fieldset>
                <label asp-for="Organisation" class="control-label"></label>
                <input asp-for="Organisation" class="form-control" />
                <span asp-validation-for="Organisation" class="text-danger"></span>
            </fieldset>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            <fieldset>
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </fieldset>
        </div>
    </div>
</div>

<row>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</row>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br />
<br />